{% extends "auctions/layout.html" %}
{% load widget_tweaks %}

{% block body %}
    <h2>Create Listing</h2>

	<div class="form-group">
		<form method="post" action="{% url 'create_listing' %}" >
			<input type="hidden" name="huser" value="{{ user.username }}">
			{% csrf_token %}
			<label>Item Name</label><br />
			{% render_field d_form.listing_name|attr:"class:form-control" %}
			
			<label>Initial/Minimum Bid</label><br />
			{% render_field d_form.listing_price|attr:"class:form-control"|attr:"cols:6" %}
			
			<label>Auction End Date (optional)</label><br />
			{% render_field d_form.end_date|attr:"class:form-control" %}
			
			<label>Listing Description</label><br />
			{% render_field d_form.listing_detail|attr:"class:form-control"|attr:"rows:5" %}
			
			<label>Image Path (optional)</label><br />
			{% render_field d_form.image_path|attr:"class:form-control" %}
			
			<label>Category (optional)</label><br />
			{% render_field d_form.listing_category|attr:"class:form-control" %}
			
			<input class="btn btn-primary" type='submit' value="create new listing">
		</form>
	</div>
	<br />
	<br />
	
    
{% endblock %}

