{% extends "auctions/layout.html" %}
{% load widget_tweaks %}

{% block body %}
<div class="bg-dark mr-md-2 pt-2 px-1 pt-md-1 px-md-1 text-center text-white overflow-hidden">
	<div class="my-3 py-3">
		<h2 class="display-2">Listing: {{ dlisting_name }}</h2>
	</div>
</div>
		
<br /><br />
<img width="{{ dimg_width }}" height="{{dimg_height }}" src="{{dimage_path }}"/>
<br /><br />

<div class="container-fluid">	
	{{ dlisting_detail }}
	<div class="bg-dark my-3 py-3"></div>		
	<h4 class="display-5">Seller: {{ duser_name }} {{ duser_email }}<h4>
	<h3>Minimum Bid: {{ dcurrent_bid }} </h3>
	<h4>Ends: {{ dend_date }}</h4>
	{{ dlisting_category }}
	<br />
	<a href="{% url 'watchlist' dlisting_name duser_name %}">Watchlist {{ dlisting_name }} </a>
	<br />
	{{ waitlist_state }}
	<br /><br />
</div>    
{% endblock %}
