{% extends "auctions/layout.html" %}
{% load widget_tweaks %}

{% block body %}
<div class="bg-dark mr-md-2 pt-2 px-1 pt-md-1 px-md-1 text-center text-white overflow-hidden">
	<div class="my-3 py-3">
		<h2 class="display-2">{{ dlisting_name }}</h2>
	</div>
</div>
	
<br />
<div class="container">
		<div class="row">
			<div class="column">
				{% if dimage_path %}
					<img width="400" height="500" src="{{ listing.image_path }}"/>
				{% endif %}
			</div>
			<div class="column">
				<br /><br />
				{{ vhighest_bidder.username }}
				<div class="container-fluid">	
					
					
					{% if msg %}
						<div class="bg-danger my-3 py-3 text-white"><h2>{{ msg }}</h2></div>
					{% endif %}
					<h3 class="display-3">Current Bid: {{ listing.listing_price }} </h3>
						
					<h4 class="display-5">Seller: {{ listing.user.username }} {{ listing.user.email }}</h4>
					<h4>Ends: {{ listing.end_date }}</h4>
					<br />
					<h4 class="display-5">{{ listing.listing_detail }}</h4>
					
					
					<br /><br />
					{% if user.is_authenticated %}	
						{% if user.username == listing.user.username %}
							{% if listing.active %}
								<a href="{% url 'end_auction' listing.listing_name %}">end auction?</a><br />
								<h4 class="display-5">Current highest bidder: {{ dhighest_bidder.username }}</h4>
							{% else %}
								<h4 class="display-5">Winner: {{ dhighest_bidder.username }}</h4>
							{% endif %}
							<br />
							<h4 class="display-5">Email : {{ dhighest_bidder.email }}</h4>
							<br />
						{% else %}
							<form method="post" action="{% url 'bid' listing.listing_name %}">
								{% csrf_token %}
								<input class="btn btn-primary" type="submit" value="submit bid">				
								{{ dbid_form }}
							</form>
							<br />
							<h4 class="display-5"><a href="{% url 'watchlist' listing.listing_name %}">{{ watchlist_state }}</a></h4>
						{% endif %}
					<h4 class="display-5"> Listing Category: <a href="{% url 'category_display' listing.listing_category %}">{{ listing.listing_category }}</a>
				</div>
			
				
				
		
	
	{% else %}
		Sign in to bid or watchlist listing
	{% endif %}	
	</div>
		</div>
	</div>
	<br /><br />
				<div class="bg-secondary my-3 py-3"></div>
	<h3>Comments</h3>		
	<br />
	 
	 {% if dcomments %}
	<h3 class="display-3">User Comments:</h3>
	{% for comment in dcomments %}
		<br />
		<div class="label label-success"> From User - {{ comment.user.username }}</div>
		<br /><br />
		<div class="bg-white " > {{ comment.comment }}<div>
		<br />
		<div class="bg-warning my-1 py-1"></div>		
	{% endfor %}
	{% endif %}
	<br />
	<div class="form-group">
			<form method="post" action="{% url 'add_comments' dlisting_name %}">
				{% csrf_token %}
				<label>Add comments</label><br />
				{% render_field dcomment_form.listing_comments|attr:"class:form-control"|attr:"rows:5" %}
				<input class="btn btn-primary" type="submit" value="add comments">				
			</form>
		</div>
</div>

{% endblock %}
